#titulo {
font-family: 'Lobster', cursive;
font-size: 25px;
color: white;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background:	#8B0000;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: left;
  font-family: 'Work Sans', sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #FFFFFF;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #FFFFFF;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

p{
	font-family: 'Work Sans', sans-serif;
}

.p1{
text-align: center;
font-family: 'Work Sans', sans-serif;
}


#logo{
display:block;
margin:auto;
width:1000px;
}
.portada{
text-align:center;
font-family: 'Work Sans', sans-serif;
}

body{
	background-image:url(../imagenes/patron.jpg);
  background-size: 1400px 1000px;
  background-repeat: repeat;
  color: white;
}

#mt{
	font-size: 50px;
}
.container2{
	background-image: url(../imagenes/patron2.jpg);
color: black;
border-radius: 25px;
width: 90%;
margin-left: auto;
margin-right: auto;
padding-bottom: 25px;
padding-left: 25px;
padding-right: 25px;
}

h1{
	text-align: center;
	font-family: 'Work Sans', sans-serif;
}

.flecha1{
	color: red;
}

.flecha2{
	color:green;
}
.im{
	text-align: center;
}

.ad{
font-family: 'Work Sans', sans-serif;
}
.container3{
	text-align: center;
	font-family: 'Work Sans', sans-serif;
}
.s{
	text-align: center;
}

.bt{
	background-color: #000000;
 border: none;
 color: white;
 padding: 16px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 -webkit-transition-duration: 0.4s;
 cursor: pointer;
  color: white;
  border: 2px solid #000000;
	border-radius: 25px;
}

.bt:hover {
  background-color: #8B0000;
  color: white;
}
#num{
	border-radius: 25px;
	padding: 10px 20px;
	margin: 4px 2px;
	border: 2px solid #000000;
	 display: run-in;
}
.a{
	font-family: 'Work Sans', sans-serif;
}

.gif{
	width: 300px;
}
